*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: rgb(151, 0, 156);
}
body{
    background-color: rgb(247, 197, 247);
}


#sec-one{
    position: relative;
    width: 100%;
}   
#sec-two{
    width: 50%;
}
img{
    display: inline-block;
    width: 30%;
    height: 300px;
    cursor: pointer;
}
 /* img:active{
     background-color: black;
}  */
ul{
    width:80%;
    background-color: rgb(253, 216, 253);
}

li{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    color: rgb(113, 9, 231);
}